
  <div class = "container">
      <img id = "img" src= "/assets/img/burger.png">
      <h2>Eat-Da-Burger!</h2>

      {{!-- <div> 
        <ul>
          {{#each burgers}
            {{#unless devoured}}
              {{!-- {{devoured=false}} --}}
                {{!-- <li>
                  <p>
                    {{this.id}}. {{this.burger_name}}
                    <button data-movieid="{{this.id}}" class="devburger">Devour it!</button>
                  </p>
                </li>
            {{/unless}}
          {{/each}}
        </ul> --}}

        {{!-- <ul>
          {{#each burgers}}
            {{#if devoured}}
            {{this.id}}. {{this.burger_name}}
            {{/if}}
          {{/each}}
        </ul> --}}
        
      {{!-- </div> --}} 
      <form id= "addburger" class="create-form">
        <div class="form-group">
          <textarea type="text" name="burger_name"></textarea>
        </div>
        <button  type="submit" class="btn btn-primary">Submit</button>
      </form>   
      <p>Eat a burger you want to eat Click the "Submit" button.</p>
    </div>
